.travelAdvisor-list {
  position: relative;
  height: 100vh;
  padding: 15px;
  overflow: auto;
  .inputsBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    .input {
      width: 40%;
    }
  }
}
